@import "../../assets/scss/variables";
@import "../../assets/scss/schaduw";


.gradient-white {
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);

}

 .shadow{
   box-shadow: 2px 6px 16px -1px rgba(0,0,0,0.56);
 }

button {
  color: $white-color;
  padding: 5px;
  border: none;
  padding: 10px;
  @extend .shadow;
  background: $primary-color;
  transition: background 0.3s;
  &:hover {
    background: $bright-color;
  }
}
