@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');

$primary-color: #F5F5F5;
$panel-color-grey: rgba(100,100,100,0.7);
$panel-color-lightgrey: rgba(100,100,100,0.3);
$panel-color-warm: rgba(164,148,112,0.3);
$panel-color-cool: rgba(108,141,137,0.3);


$panel-blur: blur(20px);
$font: 'Montserrat', Helvetica, sans-serif;
$fontsize: 18px;



@mixin greyblur {
  background-color: $panel-color-grey;
  backdrop-filter: $panel-blur;
}

@mixin warmblur {
  background-color: $panel-color-warm;
  backdrop-filter: $panel-blur;
}

@mixin coolblur {
  background-color: $panel-color-cool;
  backdrop-filter: $panel-blur;
}

@mixin songsblur {
  background-color: $panel-color-lightgrey;
  backdrop-filter: $panel-blur;
}
