<p>
  pagination works!
</p>



<!--<pagination-controls (pageChange)="p = $event"-->
                     <!--previousLabel="BACK"-->
                     <!--nextLabel="NEXT"></pagination-controls>-->

<!--<div class="form-field">-->
  <!--<label>Pages</label>-->
  <!--<select class="input" (change)="perPage = $event.target.value">-->
    <!--<option *ngFor="let size of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 50, 100]" [selected]="size === perPage">{{ size }}</option>-->
  <!--</select>-->
<!--</div>-->
