/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/grid";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: $font;
  color: $primary-color;
}

body {
  background: #3C3B3F;  /* fallback for old browsers */
  background: linear-gradient(to bottom, #605C3C, #3C3B3F);
  background-image: url(/assets/image/music.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  margin-bottom: -38px;
}


.superscript {
  vertical-align: super;
  font-size: 0.6rem;
}

.left {
  text-align: left;
}

.center {
   text-align: center;
 }

.right {
  text-align: right;
}

button {
  padding: 5px;
  background-color: $panel-color-grey;
  border: none;
  &:hover {
    background-color: $bright-color;
  }
}

h1.center {
  position: absolute;
  top: 200px;
  left: 40%;
}


.loader {
  display: block;
  margin: 50px auto;
  border: 10px solid  $bright-color;
  border-radius: 50%;
  border-top: 10px solid #fff8ed;
  border-bottom: 10px solid #fff8ed;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
