/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/grid";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: $font;
  font-size: $fontsize;
  color: $primary-color;
}

body {
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(/assets/image/music.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.superscript {
  vertical-align: super;
  font-size: 0.6rem;
}


.left {
  text-align: left;
}

.middle {
   text-align: center;
 }

.right {
  text-align: right;
}

