@import "../../assets/scss/variables";

.container {
  max-width: 800px;
  margin: 0 auto;
  @include songsblur;
  padding: 70px;
}

.songs {
  font-size: $fontsize;
  padding: 50px;
  padding-bottom: 350px;
  @include songsblur;
  a {
    color: #e1e1e1;
    &:hover {
      color: $bright-color;
    }
  }

  li.row {
    margin-bottom: 10px;
  }

}
p.page {
  position: relative;
  left: 10px;
  top: 12px;
}
