@import "../../assets/scss/variables";

span.page {
  position: relative;
  margin: 0 20px;
  display: block;
  top: 12px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-top: 10px;
  width: 100%;
}

.pagination button {
  width: 34px;
  font-size: larger;
}

.songs{
  img {
    display: block;
    margin-right: 20px;
  }

  .row {
    margin-bottom: 10px;
  }
}
