<div class="bottom row">
  <ul class="tracks">
    <li class="track-info-bar">
      <span class="artist col col-3">
        Asterdoids
      </span>
      <span class="title col col-8">
        Fact And Truth
      </span>
      <span class="tracklength col col-1">
        3:59
      </span>
    </li>
  </ul>
</div>


<!-- Added by gigglball!!! -->

<h2>Based on Climatunes, listen to...</h2>

  <tr *ngFor="let tunes of albums">
    <td>
      {{tunes.artist}}
    </td>
    <td>
      {{tunes.name}}
    </td>
  </tr>

<!-- Added by gigglball!!! -->
<button (click)="showData()" >music</button>

<!-- results.albummatches.album.-->
