//@import "../../styles";

@import "../../assets/scss/variables";


.container {
  //@include songsblur;
}

.songs {
  font-size: $fontsize;
  padding: 50px;
  padding-bottom: 150px;
  @include songsblur;
  a {
    color: #e1e1e1;
    &:hover {
      color: $bright-color;
    }
  }

  li.row {
    margin-bottom: 10px;
  }
}

span.page {
  position: relative;
  margin: 0 20px;
  display: block;
  top: 12px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-top: 10px;
  width: 100%;
}

.pagination button {
  width: 34px;
  font-size: larger;
}

