<div class="row">
  <div class="col col--lg-6">
    <div *ngIf="_youtubeService.getID() == ''">
      <img class="effect3" src="../../assets/image/weatherMusic.jpg" width="100%" alt="">
    </div>

    <!--Youtube-->
    <div *ngIf="_youtubeService.getID() != '' ">
      <app-youtube
        (state)="_youtubeService.stateLog($event)"></app-youtube>
    </div>
  </div>


  <div class="col col--lg-6">
    <ul class="songs effect1">

      <div class="row">

        <div class="col col--lg-6">
          <nav class="pagination">
            <button (click)="previousPage()"> <</button>
            <button (click)="nextPage()"> ></button>
            <span>Page: {{ page }}</span>
          </nav>
        </div>

        <div class="col col--lg-6">
          <input type="text">
        </div>

      </div>


      <div class="row description">
        <span class="col col--lg-6">Artist</span>
        <span class="col col--lg-6">Song</span>
        <hr>
      </div>


      <li class="row" *ngFor="let item of songs">

        <div class="col col--sm-2">
          <img src="{{ item.imageSM['#text'] }}" alt="">
        </div>

        <span class="col col--sm-4" *ngIf="item.artist">
         {{item.artist | shorten:'25'}}
        </span>

        <div class="col col--sm-6">
          <span>
                {{ item.track | shorten:'25' }}
          </span><br>

          <button *ngIf="!item.play"
                  (click)="_youtubeService.setSong(item.artist + ' ' +item.track, item)">Play
          </button>

          <div *ngIf="item.play">
            <span>{{ _youtubeService.getState() }}</span>
            <button type="button" class="btn btn-default" (click)="_youtubeService.playVideo()">Play</button>
            <button type="button" class="btn btn-default" (click)="_youtubeService.pauseVideo()">Pause</button>
          </div>
        </div>

      </li>

      <div class="row pagination">
        <button (click)="previousPage()"> <</button>
        <button (click)="nextPage()"> ></button>
        <p class="page">Page: {{ page }}</p>
      </div>
    </ul>
  </div>

</div>





